h3{
    color:bisque;
}
nav  a{
    text-decoration: none;
    color: white;
    text-allgn: center;
    padding: 20px;
    float: left;

  }

  nav{
    background-color: black;
    overflow: hidden;
  }

  nav a:hover{
      color: tomato;
      display: block;


  }

  nav a:hover{
    color: rgb(94, 0, 245);
    
}
section{
  text-align: center;
}
section:nth-child(even) {
  background-color: #ececec;
}

footer a{
  
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  float: left;
}

